@keyframes loader {
    from {
        opacity: 1;
        visibility: visible;
    }
    to {
        opacity: 0;
        visibility: hidden;
    }
}

@keyframes meal {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}