/****** VARIABLE ******/

$main-color: #9356dc;
$light-main-color: lighten($main-color, 5%);
$secondary-color: #ff79da;
$light-secondary-color: lighten($secondary-color, 5%);
$tertiary-color: #99e2d0;
$grey-background: #eaeaea;
$grey-footer: #353535;
$white-color: #ffffff;
$black-color: #222222;
$restaurant-background: #f6f6f6;
$gradient: linear-gradient(to bottom, $secondary-color, $main-color 80%);
$light-gradient: linear-gradient(
  to bottom,
  $light-secondary-color,
  $light-main-color 80%
);

$text-font: "Roboto", sans-serif;
$title-font: "Shrikhand", cursive;
$font-size: 16px;
